In [1]:
%pip install pandas
%pip install seaborn
%pip install matplotlib
%pip install numpy
%pip install SQLAlchemy
%pip install geopandas

Requirement already satisfied: pandas in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (2.1.3)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: seaborn in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (0.13.0)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (1.26.2)
Requirement already satisfied: pandas>=1.2 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (2.1.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.3 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (3.8.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (4.46.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.2->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.3->seaborn) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: matplotlib in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (3.8.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (4.46.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy<2,>=1.21 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.26.2)
Requirement already satisfied: packaging>=20.0 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (1.26.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: SQLAlchemy in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from SQLAlchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from SQLAlchemy) (3.0.3)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: geopandas in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (0.14.2)
Requirement already satisfied: fiona>=1.8.21 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from geopandas) (1.9.5)
Requirement already satisfied: packaging in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from geopandas) (23.2)
Requirement already satisfied: pandas>=1.4.0 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from geopandas) (2.1.3)
Requirement already satisfied: pyproj>=3.3.0 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from geopandas) (3.6.1)
Requirement already satisfied: shapely>=1.8.0 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from geopandas) (2.0.2)
Requirement already satisfied: attrs>=19.2.0 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from fiona>=1.8.21->geopandas) (23.2.0)
Requirement already satisfied: certifi in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from fiona>=1.8.21->geopandas) (2023.11.17)
Requirement already satisfied: click~=8.0 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from fiona>=1.8.21->geopandas) (8.1.7)
Requirement already satisfied: click-plugins>=1.0 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from fiona>=1.8.21->geopandas) (1.1.1)
Requirement already satisfied: cligj>=0.5 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from fiona>=1.8.21->geopandas) (0.7.2)
Requirement already satisfied: six in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from fiona>=1.8.21->geopandas) (1.16.0)
Requirement already satisfied: setuptools in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from fiona>=1.8.21->geopandas) (65.5.0)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.4.0->geopandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.4.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.4.0->geopandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.4.0->geopandas) (2023.3)
Requirement already satisfied: colorama in c:\users\madmax\appdata\local\programs\python\python311\lib\site-packages (from click~=8.0->fiona>=1.8.21->geopandas) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
from sqlalchemy import create_engine
import seaborn as sns
import matplotlib.pyplot as plt
import subprocess
import os

In [6]:
tourist_data_url="https://res.cloudinary.com/dx6obccn6/raw/upload/v1701604753/tourists-data_aas2zo.csv"
tourist_states_url="https://res.cloudinary.com/dx6obccn6/raw/upload/v1704827971/tourist_areas_with_states_zwmucy.csv"
transportation_data_url="https://res.cloudinary.com/dx6obccn6/raw/upload/v1701604752/transportation_vpbfi6.csv"

#### Data Exploration

In [13]:
tourist_df = pd.read_csv(tourist_data_url, encoding='latin1', sep=";")
tourist_df.head(15)

                                                                                                                                                                                                                                                                                               GENESIS-Tabelle: 45412-0016
Ankünfte, Übernachtungen, durchschnittliche        NaN          NaN                          NaN                NaN                NaN                                NaN                 NaN                 NaN                                NaN                NaN                                                NaN
Aufenthaltsdauer: Deutschland, Jahre, Wohnsitz ... NaN          NaN                          NaN                NaN                NaN                                NaN                 NaN                 NaN                                NaN                NaN                                                NaN
Reisegebiete                                       NaN          NaN                          NaN                NaN                NaN                                NaN                 NaN                 NaN                                NaN                NaN                                                NaN
Monatserhebung im Tourismus                        NaN          NaN                          NaN                NaN                NaN                                NaN                 NaN                 NaN                                NaN                NaN                                                NaN
Deutschland                                        NaN          NaN                          NaN                NaN                NaN                                NaN                 NaN                 NaN                                NaN                NaN                                                NaN
NaN                                                NaN          NaN                          Wohnsitz der Gäste Wohnsitz der Gäste Wohnsitz der Gäste                 Wohnsitz der Gäste  Wohnsitz der Gäste  Wohnsitz der Gäste                 Wohnsitz der Gäste Wohnsitz der Gäste                  Wohnsitz der Gäste
                                                                                             Wohnsitz im Inland Wohnsitz im Inland Wohnsitz im Inland                 Wohnsitz im Ausland Wohnsitz im Ausland Wohnsitz im Ausland                Insgesamt          Insgesamt                                    Insgesamt
                                                                                             Ankünfte           Übernachtungen     Durchschnittliche Aufenthaltsdauer Ankünfte            Übernachtungen      Durchschnittliche Aufenthaltsdauer Ankünfte           Übernachtungen      Durchschnittliche Aufenthaltsdauer
                                                                                             Anzahl             Anzahl             Tage                               Anzahl              Anzahl              Tage                               Anzahl             Anzahl                                            Tage
2014                                               REISEGBT-L11 Nördlicher Schwarzwald       1897749            4863474            2,6                                535655              1278978             2,4                                2433404            6142452                                            2,5
                                                   REISEGBT-L12 Mittlerer Schwarzwald        1405778            3947996            2,8                                682391              1356910             2,0                                2088169            5304906                                            2,5
                                                   REISEGBT-L13 Südlicher Schwarzwald        2177835            6840019            3,1                                919926              2311498             2,5                                3097761            9151517                                            3,0
                                                   REISEGBT-L40 Nördliches Baden-Württemberg 2839520            6739393            2,4                                741017              1575655             2,1                                3580537            8315048                                            2,3
                                                   REISEGBT-L50 Region Stuttgart             3105468            6063972            2,0                                871989              2098135             2,4                                3977457            8162107                                            2,1
                                                   REISEGBT-L60 Schwäbische Alb              1585373            3415595            2,2                                316019              681144              2,2                                1901392            4096739                                            2,2

In [14]:
#rading the data again but skipping first few lines to get the required data in clean format
tourist_df = pd.read_csv(tourist_data_url, encoding='latin1', sep=";", skiprows=10)
tourist_df.head(15)

,2014,REISEGBT-L11,Nördlicher Schwarzwald,1897749,4863474,"2,6",535655,1278978,"2,4",2433404,6142452,"2,5"
0,2014,REISEGBT-L12,Mittlerer Schwarzwald,1405778,3947996,"2,8",682391,1356910,"2,0",2088169,5304906,"2,5"
1,2014,REISEGBT-L13,Südlicher Schwarzwald,2177835,6840019,"3,1",919926,2311498,"2,5",3097761,9151517,"3,0"
2,2014,REISEGBT-L40,Nördliches Baden-Württemberg,2839520,6739393,"2,4",741017,1575655,"2,1",3580537,8315048,"2,3"
3,2014,REISEGBT-L50,Region Stuttgart,3105468,6063972,"2,0",871989,2098135,"2,4",3977457,8162107,"2,1"
4,2014,REISEGBT-L60,Schwäbische Alb,1585373,3415595,"2,2",316019,681144,"2,2",1901392,4096739,"2,2"
5,2014,REISEGBT-L71,Württembergisches Allgäu-Oberschwaben,639336,2570632,"4,0",88897,213109,"2,4",728233,2783741,"3,8"
6,2014,REISEGBT-L72,Bodensee,1241785,3917128,"3,2",292342,709277,"2,4",1534127,4626405,"3,0"
7,2014,REISEGBT-L73,Hegau,137087,432412,"3,2",41393,111170,"2,7",178480,543582,"3,0"
8,2014,REISEGBT-T01,Naturpark Altmühltal,573921,1226335,"2,1",112160,185576,"1,7",686081,1411911,"2,1"
9,2014,REISEGBT-T02,Fichtelgebirge,425040,1050096,"2,5",56399,118750,"2,1",481439,1168846,"2,4"
10,2014,REISEGBT-T03,Fränkische Schweiz,363794,874912,"2,4",31236,65547,"2,1",395030,940459,"2,4"
11,2014,REISEGBT-T04,Fränkisches Seenland,278340,857695,"3,1",31559,59514,"1,9",309899,917209,"3,0"
12,2014,REISEGBT-T05,Fränkisches Weinland,1010147,1811841,"1,8",203992,331040,"1,6",1214139,2142881,"1,8"
13,2014,REISEGBT-T06,Nürnberger Land,207512,450021,"2,2",30454,53226,"1,7",237966,503247,"2,1"
14,2014,REISEGBT-T07,Frankenwald,216321,731826,"3,4",19537,40123,"2,1",235858,771949,"3,3"

In [22]:
column_names = ['Year', 'Train', 'Land', 'domestic arrival', 'domestic overnight stays',
                    'domestic avg stay (days)', 'int. arrival', 'intl. overnight stays',
                    'intl. avg stay (days)', 'total arrival', 'total overnight stays',
                    'total avg stay (days)']
    #rename the columns
tourist_df.columns=column_names
tourist_df = tourist_df.iloc[:-4].reset_index(drop=True)

#dropping empty rows
tourist_df.replace('-', pd.NA, inplace=True)
tourist_df.replace('.', pd.NA, inplace=True)
clean_tourist_df = tourist_df.dropna()
clean_tourist_df['total arrival']= pd.to_numeric(clean_tourist_df['total arrival'], errors='coerce').astype('int64')
clean_tourist_df.head()

C:\Users\MadMax\AppData\Local\Temp\ipykernel_14528\3265407424.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_tourist_df['total arrival']= pd.to_numeric(clean_tourist_df['total arrival'], errors='coerce').astype('int64')

,Year,Train,Land,domestic arrival,domestic overnight stays,domestic avg stay (days),int. arrival,intl. overnight stays,intl. avg stay (days),total arrival,total overnight stays,total avg stay (days)
0,2014,REISEGBT-L12,Mittlerer Schwarzwald,1405778,3947996,"2,8",682391,1356910,"2,0",2088169,5304906,"2,5"
1,2014,REISEGBT-L13,Südlicher Schwarzwald,2177835,6840019,"3,1",919926,2311498,"2,5",3097761,9151517,"3,0"
2,2014,REISEGBT-L40,Nördliches Baden-Württemberg,2839520,6739393,"2,4",741017,1575655,"2,1",3580537,8315048,"2,3"
3,2014,REISEGBT-L50,Region Stuttgart,3105468,6063972,"2,0",871989,2098135,"2,4",3977457,8162107,"2,1"
4,2014,REISEGBT-L60,Schwäbische Alb,1585373,3415595,"2,2",316019,681144,"2,2",1901392,4096739,"2,2"

In [24]:
#need to add states for each tourist place
states=pd.read_csv(tourist_states_url, encoding='latin1', sep=",")

tourist_data=(pd.merge(clean_tourist_df,states,left_on="Land",right_on="Tourist Area", how='left'))

missing_values = {
    'Oberes Maintal - Coburger Land (bis 2016)': 'Baden-Württemberg',
    'Nördlicher Schwarzwald': 'Bayern',
}

#rows_with_nan=tourist_data[tourist_data['State(s)'].isna()]

# Iterate through the custom values and fill missing 'States' accordingly
for land, state in missing_values.items():
    tourist_data.loc[tourist_data['Land'] == land, 'State(s)'] = state

tourist_data=tourist_data.drop('Tourist Area', axis=1)
tourist_data.head()

,Year,Train,Land,domestic arrival,domestic overnight stays,domestic avg stay (days),int. arrival,intl. overnight stays,intl. avg stay (days),total arrival,total overnight stays,total avg stay (days),State(s)
0,2014,REISEGBT-L12,Mittlerer Schwarzwald,1405778,3947996,"2,8",682391,1356910,"2,0",2088169,5304906,"2,5",Baden-Württemberg
1,2014,REISEGBT-L13,Südlicher Schwarzwald,2177835,6840019,"3,1",919926,2311498,"2,5",3097761,9151517,"3,0",Baden-Württemberg
2,2014,REISEGBT-L40,Nördliches Baden-Württemberg,2839520,6739393,"2,4",741017,1575655,"2,1",3580537,8315048,"2,3",Baden-Württemberg
3,2014,REISEGBT-L50,Region Stuttgart,3105468,6063972,"2,0",871989,2098135,"2,4",3977457,8162107,"2,1",Baden-Württemberg
4,2014,REISEGBT-L60,Schwäbische Alb,1585373,3415595,"2,2",316019,681144,"2,2",1901392,4096739,"2,2",Baden-Württemberg

In [25]:
transport_df = pd.read_csv(transportation_data_url, encoding='latin1', sep=";", skiprows=7)
transport_df.head()

,2014,Öffentliche Unternehmen,Baden-Württemberg,35,1007277193,7188471086,274546513,34072309621,1170633280
0,2014,Öffentliche Unternehmen,Bayern,76.0,1.075812e+09,5.715952e+09,230210606.0,3.159411e+10,9.468807e+08
1,2014,Öffentliche Unternehmen,Berlin,2.0,1.391681e+09,8.521966e+09,160356904.0,3.371305e+10,1.410316e+09
2,2014,Öffentliche Unternehmen,Brandenburg,24.0,1.313524e+08,1.270355e+09,84225172.0,6.495947e+09,1.146445e+08
3,2014,Öffentliche Unternehmen,Bremen,3.0,1.517602e+08,1.057303e+09,58714722.0,5.996140e+09,1.736676e+08
4,2014,Öffentliche Unternehmen,Hamburg,5.0,7.020759e+08,4.316863e+09,106829746.0,1.908221e+10,7.444942e+08

In [30]:
column_names=['Year', 'Company Type', 'State(s)','Companies', 'Person Transported', 
                'Transportation Per KM', 'Mileage', 'Transportation Offer', 
                'Revenue from Local Transport (EUR)']

#ensuring LongIntegerColumn are displayed as full integers
pd.set_option('display.float_format', lambda x: '{:.0f}'.format(x))

#rename the columns
transport_df.columns=column_names
clean_transport_df = transport_df.iloc[:-3].reset_index(drop=True)
clean_transport_df.drop(["Revenue from Local Transport (EUR)","Mileage", "Transportation Offer"], axis=1, inplace=True)
clean_transport_df.head()

,Year,Company Type,State(s),Companies,Person Transported,Transportation Per KM
0,2014,Öffentliche Unternehmen,Bayern,76,1075811757,5715951789
1,2014,Öffentliche Unternehmen,Berlin,2,1391681471,8521965951
2,2014,Öffentliche Unternehmen,Brandenburg,24,131352393,1270354518
3,2014,Öffentliche Unternehmen,Bremen,3,151760189,1057303047
4,2014,Öffentliche Unternehmen,Hamburg,5,702075921,4316862807